.logo
{
    height: 50px;
    width: 50px;
}


.optionContainer
{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;

}

.optionContainer a{
    display: block;
    margin: 12px 0px;
    text-decoration: none;
    color: black;
    font-size: x-large;


}

#explore{
    font-weight: bold;
}

